.container {
    display: grid;
    margin: auto;
    width: 500px;
    height: 500px;
}

.box{
    border: 1px solid;
}

.hovered{
    background-color: black;
}

.header {
    text-align: center;
    padding-bottom: 20px;
}